<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dahar-in</title>
    <link rel="manifest" href="./app.webmanifest" />
    <meta name="theme-color" content="#DB0000" />
    <!-- Boxicon Offline -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" crossorigin="anonymous"/>
    <!-- googlefont -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="#main-content" class="skip-link" tabindex="0">Skip to Content</a>

    <!-- header -->
    <header>
      <a href="#" class="logo"><span tabindex="0">Dahar</span>-in</a>
      <button class="bx bx-menu" id="menu-icon"></button>
      <ul class="navbar" id="nav-bar">
        <li><a href="#/home">Home</a></li>
        <li>
          <a
            href="https://www.linkedin.com/in/muhammad-fajri-winanda-65037928b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BScaIWsH0SZCgMbGK0GrMxQ%3D%3D"
            >About</a
          >
        </li>
        <li><a href="#/favorite">Favorite</a></li>
      </ul>
    </header>

    <main tabindex="0" id="main-content">
      <main-app></main-app>
    </main>

    <footer>
      <foot-app></foot-app>
    </footer>
  </body>
</html>
